[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
bs4 = "*"
SQLAlchemy = "*"
PyMySQL = "*"
wget = "*"
pytz = "*"
pymongo = "*"

[dev-packages]
flake8 = "*"
isort = "*"

[requires]
python_version = "3.8"

[dev-packages.black]
git = "git://github.com/psf/black"
